<div class="jumbotron center-it">
<h1>Welcome to the TTS Store</h1>
</div>

<div class="container center-it">
<h3>Find all the electronics you need in LIFE.</h3>
<h4>Browse products by category or brand. If you have questions, contact us 1-800-TTSS</h4>
</div>

<%= render 'productloop' %>